<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="md:hidden">Your friends</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" id="open-add-friend-modal" class="md:hidden">
        <ion-icon name="person-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="md:hidden">
    <ion-searchbar animated="true" placeholder="Look for a friend">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-modal trigger="open-add-friend-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="dismiss()" color="danger">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Add a new friend</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar
            animated="true"
            placeholder="Search"
            show-clear-button="focus"
            [debounce]="500"
            (ionChange)="searchProfilesFromDatabase($event)"
          >
          </ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list
          class="border border-slate-200 dark:border-slate-600 shadow rounded-md"
        >
          <ion-item-sliding>
            <ion-item lines="full" *ngFor="let profile of foundProfiles">
              <ion-avatar slot="start">
                <img [src]="profile.profile_picture" />
              </ion-avatar>
              <ion-label>
                <h1>{{ profile.first_name }} {{profile.last_name}}</h1>
                <p>({{profile.nick_name}})</p>
              </ion-label>
              <ion-icon
                name="add-circle"
                slot="end"
                color="dark"
                (click)="addFriend(profile.id)"
                *ngIf="!sentFriendRequests.includes(profile.id)"
              ></ion-icon>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div class="flex flex-row">
    <div
      class="basis-1/3 flex-col hidden md:flex bg-white dark:bg-[var(--ion-toolbar-background)] border-r border-slate-200 dark:border-slate-600"
    >
      <div class="ion-padding-start text-heading-5 font-semibold mt-2">
        Your friends
      </div>
      <div class="flex flex-row items-center">
        <ion-searchbar
          animated="true"
          placeholder="Look for a friend"
          slot="start"
        >
        </ion-searchbar>
        <ion-button fill="clear" color="dark" id="open-add-friend-modal">
          <ion-icon slot="icon-only" name="person-add"></ion-icon>
        </ion-button>
      </div>

      <ion-list>
        <ion-item-sliding>
          <ion-item lines="full">
            <ion-avatar slot="start">
              <img
                src="https://api.dicebear.com/5.x/bottts-neutral/svg?seed=99bdc574-c020-4504-9b53-51f48f207d2b"
              />
            </ion-avatar>
            <ion-label>
              <h1>Marvin Koch</h1>
              <p>(Mawin)</p>
            </ion-label>
            <ion-icon name="mail" slot="end" color="dark"></ion-icon>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger">
              <ion-icon
                name="person-remove"
                slot="icon-only"
                size="small"
              ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <ion-grid class="hidden md:block lg:m-3">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12">
          <ion-card
            class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
          >
            <ion-card-header>
              <ion-card-subtitle>Mawin </ion-card-subtitle>
              <ion-card-title>Marvin Koch</ion-card-title>
            </ion-card-header>
            <ion-card-content> Friends since 20.01.2023 </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12">
          <ion-card
            class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
          >
            <ion-card-header>
              <ion-card-subtitle
                >Matches played
                <span class="float-right">🎯</span></ion-card-subtitle
              >
              <ion-card-title>3000</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <span class="text-danger">-</span>18 from last week
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card
            class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
          >
            <ion-card-header>
              <ion-card-subtitle
                >Avergage
                <span class="float-right">⚡️</span></ion-card-subtitle
              >
              <ion-card-title>18</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <span class="text-success">+</span>18 from last week
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card
            class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
          >
            <ion-card-header>
              <ion-card-subtitle
                >Favourite double
                <span class="float-right">🔥</span></ion-card-subtitle
              >
              <ion-card-title>20</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <span class="opacity-0">filler</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12">
          <ion-card
            class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
          >
            <ion-card-header> Bar Chart </ion-card-header>
            <ion-card-content
              class="flex justify-center relative w-full h-[35vh]"
            >
              <canvas
                #barCanvas
                style="position: relative; height: 35vh; width: 30vw"
              ></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizeLg="6" sizeMd="12">
          <ion-card
            class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
          >
            <ion-card-header>
              <ion-card-subtitle
                >Wins and Losses
                <span class="float-right">🏆 & 😞</span></ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content
              class="flex justify-center relative w-full h-[35vh]"
            >
              <canvas #winChart></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="md:hidden">
      <ion-row>
        <ion-col size="12">
          <ion-list
            class="border border-slate-200 dark:border-slate-600 shadow rounded-md"
            *ngIf="friends.length > 0"
          >
            <ion-item-sliding *ngFor="let friend of friends">
              <ion-item lines="full">
                <ion-avatar slot="start">
                  <img [src]="friend.profile_picture" />
                </ion-avatar>
                <ion-label>
                  <h1>{{ friend.first_name }} {{ friend.last_name}}</h1>
                  <p>({{ friend.nick_name }})</p>
                </ion-label>
                <!-- <ion-icon name="mail" slot="end" color="dark"></ion-icon> -->
              </ion-item>

              <ion-item-options>
                <ion-item-option
                  color="danger"
                  (click)="removeFriend(friend.id, friend.column)"
                >
                  <ion-icon name="person-remove" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
