<ion-header>
  <ion-toolbar class="flex flex-row justify-center items-center">
    <ion-label slot="start" class="pl-4"
      >{{ games.get(supabaseService.user!.id)?.points }}</ion-label
    >
    <ion-segment
      class="md:hidden"
      *ngIf="games.size == 2"
      (ionChange)="changeSelectedPlayer($event)"
      [value]="selectedPlayer"
    >
      <ion-segment-button *ngFor="let id of playerIds" [value]="id">
        <ion-label
          >{{ games.get(id)?.profile?.nick_name ||
          (games.get(id)?.profile?.first_name + ' ' +
          games.get(id)?.profile?.last_name) }}</ion-label
        >
      </ion-segment-button>
    </ion-segment>

    <ion-title class="font-code" *ngIf="gameData?.game_keys?.key">
      {{ gameData.game_keys.key }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="shareRoom()">
        <ion-icon name="share-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-label slot="end" class="pr-4"></ion-label> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loaded">
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div
      class="bg-[var(--ion-color-light)] flex flex-col items-center justify-center p-6 gap-3 rounded-md"
    >
      <h1 class="text-body-lg text-[var(--ion-color-dark)]">Loading data</h1>
      <ion-spinner name="crescent" color="dark"></ion-spinner>
    </div>
  </div>
</ion-content>

<ion-content
  class="flex flex-row items-center justify-center"
  *ngIf="loaded && !startingPlayer && !winner"
>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div
      class="bg-[var(--ion-color-light)] flex flex-col items-center justify-center p-6 gap-3 rounded-md border-slate-200 dark:border-slate-600 shadow"
      *ngIf="games.size != 2"
    >
      <h1 class="text-body-lg text-[var(--ion-color-dark)]">
        Waiting for oponent
      </h1>
      <ion-spinner name="crescent" color="dark"></ion-spinner>
    </div>

    <div
      class="flex flex-col justify-center items-center gap-y-4"
      *ngIf="games.size == 2 && !startingPlayer"
    >
      <img
        [src]="games.get(playerIds[0])?.profile?.profile_picture"
        width="128"
        class="rounded-full"
        *ngIf="loaded"
      />
      <ion-skeleton-text
        [animated]="true"
        *ngIf="!loaded"
        class="w-32 h-32 rounded-full"
      ></ion-skeleton-text>
      <ion-icon
        name="arrow-up-outline"
        size="large"
        class="transition duration-[3s]"
        [class.rotate-tails]="flip == 0"
        [class.rotate-heads]="flip == 1"
      ></ion-icon>
      <ion-skeleton-text
        [animated]="true"
        *ngIf="!loaded"
        class="w-32 h-32 rounded-full"
      ></ion-skeleton-text>
      <img
        [src]="games.get(playerIds[1])?.profile?.profile_picture"
        width="128"
        class="rounded-full"
        *ngIf="loaded"
        (click)="flip = 1"
      />
    </div>
  </div>
</ion-content>

<ion-content class="hidden md:block" *ngIf="loaded">
  <ion-grid>
    <ion-row class="mt-10">
      <ion-col size="6" class="text-center" *ngFor="let id of playerIds">
        <div
          class="inline-flex items-center justify-center overflow-hidden rounded-full"
        >
          <svg class="w-[360px] h-[360px]">
            <circle
              class="text-slate-200 dark:text-black"
              stroke-width="10"
              stroke="currentColor"
              fill="transparent"
              r="180"
              cx="50%"
              cy="50%"
            />
            <circle
              class="text-${color} dark:text-white origin-center -rotate-90"
              stroke-width="10"
              [attr.stroke-dasharray]="180 * 2 * math.PI"
              [attr.stroke-dashoffset]="180 * 2 * math.PI - (math.trunc(((games.get(id)!.points)/ gameData.starting_points) * 100) / 100) * (180 * 2 * math.PI)"
              stroke-linecap="round"
              stroke="currentColor"
              fill="transparent"
              r="180"
              cx="50%"
              cy="50%"
            />
          </svg>
          <div class="text-heading-3 font-semibold absolute">
            {{(games.get(id)!.points)}}
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-8">
      <ion-col
        *ngFor="let id of playerIds; let i = index"
        [offset]="1 + i"
        size="4"
      >
        <ion-list class="border border-slate-200 shadow rounded-md">
          <ion-item *ngFor="let score of games.get(id)?.scores" lines="full">
            <p slot="start" class="mr-2">
              {{ this.utilService.getScoreIcon(this.games.get(id)!.points,
              this.games.get(id)?.scores || [], score) }}
            </p>

            <ion-label
              >{{ utilService.getFormattedScoreString(score.game_darts)
              }}</ion-label
            >
            <p slot="end">{{ utilService.getSumOfScore(score) }}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="loaded && startingPlayer && !winner" class="md:hidden">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item
          class="border-l-2 border-t border-b border-r border-b-slate-200 border-t-slate-200 border-r-slate-200 shadow rounded-md"
          [class.border-danger]="selectedPlayer != currentPlayer"
          [class.border-success]="selectedPlayer == currentPlayer"
        >
          <ion-label>
            <h1 class="font-bold">{{ games.get(selectedPlayer)?.points }}</h1>
            <p class="text-danger">
              {{ utilService.getCheckout(games.get(selectedPlayer)!.points) }}
            </p>
          </ion-label>
          <ion-avatar slot="end">
            <img
              alt="player image"
              [src]="games.get(selectedPlayer)?.profile?.profile_picture"
            />
          </ion-avatar>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="border border-slate-200 shadow rounded-md">
          <ion-item
            *ngFor="let score of games.get(this.selectedPlayer)?.scores"
            lines="full"
          >
            <p slot="start" class="mr-2">
              {{
              this.utilService.getScoreIcon(this.games.get(this.selectedPlayer)!.points,
              this.games.get(this.selectedPlayer)?.scores || [], score) }}
            </p>

            <ion-label
              >{{ utilService.getFormattedScoreString(score.game_darts)
              }}</ion-label
            >
            <p slot="end">{{ utilService.getSumOfScore(score) }}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="winner">
  <div class="w-full h-full flex flex-col items-center justify-center gap-y-6">
    <div
      class="bg-[var(--ion-color-light)] flex flex-col items-center justify-center p-6 gap-3 rounded-md border-slate-200 dark:border-slate-600 shadow"
    >
      <div class="flex flex-row justify-center items-center gap-x-2">
        <img
          [src]="winner.profile_picture"
          width="80"
          class="rounded-full border-slate-200 dark:border-slate-600"
        />
        <p class="text-body-lg font-semibold">{{ winner.nick_name }}</p>
      </div>
      <p class="text-heading-6">Won the game 🏆</p>
    </div>
    <ion-button expand="block" color="primary" routerLink="/dashboard"
      >Return to dashboard</ion-button
    >
  </div>
</ion-content>

<ion-footer
  class="transition duration-500"
  [ngClass]="closed ? 'translate-y-full' : 'translate-y-0'"
  [class.hidden]="startingPlayer === undefined || !loaded || closed"
>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col
          class="ion-text-center flex flex-row justify-center gap-2 items-center"
        >
          <h1
            class="p-3 border border-slate-200 rounded-sm text-body-lg"
            *ngFor="let score of this.currentScore.game_darts"
          >
            {{ this.utilService.formatNumber(score.value,
            score.multiplier).replace('-1', '-')}}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex flex-row">
            <ion-button
              *ngFor="let number of [1, 2, 3, 4, 5,6 ,7]"
              expand="full"
              class="w-full border border-slate-200"
              color="light"
              (click)="addScore(number)"
            >
              {{number}}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex flex-row">
            <ion-button
              *ngFor="let number of [8, 9, 10, 11, 12, 13, 14]"
              expand="full"
              class="w-full border border-slate-200"
              color="light"
              (click)="addScore(number)"
            >
              {{number}}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex flex-row">
            <ion-button
              *ngFor="let number of [15, 16, 17, 18, 19, 20, 25]"
              expand="full"
              class="w-full border border-slate-200"
              color="light"
              (click)="addScore(number)"
              [disabled]="number == 25 && activeMultiplier == 3"
            >
              {{number}}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex flex-row gap-3">
            <ion-button
              expand="full"
              class="w-1/2 border border-slate-200"
              color="light"
              (click)="addScore(0)"
            >
              0
            </ion-button>
            <ion-button
              expand="full"
              class="w-full"
              [color]="activeMultiplier == 2 ? 'success ': 'secondary'"
              fill="solid"
              (click)="setMultiplier(2)"
            >
              Double
            </ion-button>
            <ion-button
              expand="full"
              class="w-full"
              [color]="activeMultiplier == 3 ? 'success ': 'primary'"
              fill="solid"
              (click)="setMultiplier(3)"
            >
              Triple
            </ion-button>
            <ion-button
              expand="full"
              class="w-1/2"
              color="danger"
              (click)="undoScore()"
            >
              ↩️
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="score()" expand="block" color="primary">
            Score
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
