<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="mt-5">
          <ion-list-header>Welcome back to</ion-list-header>
          <ion-note>darts.works</ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              [ngClass]="
                this.router.url === p.url ? 'border-l-4 border-primary' : ''
              "
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              routerDirection="root"
              routerLink="/notifications"
              lines="none"
              detail="false"
            >
              <ion-icon slot="start" name="notifications"></ion-icon>
              <ion-label>Notifications</ion-label>
              <ion-badge
                color="danger"
                slot="end"
                *ngIf="notificatonCount > 0"
                >{{ notificatonCount }}</ion-badge
              >
            </ion-item>
          </ion-menu-toggle>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-icon name="game-controller" slot="start"></ion-icon>
                <ion-label>Game</ion-label>
              </ion-item>
              <ion-item slot="content" class="bg-[#000]!">
                <ion-icon slot="start"></ion-icon>
                <ion-label>Create a game</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Create a game</div>
              <div class="ion-padding" slot="content" (click)="showJoinGameAlert()">Join a game</div>
            </ion-accordion>
          </ion-accordion-group>
          <ion-menu-toggle>
            <ion-item lines="none" (click)="logOut()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Sign out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
