<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12">
        <ion-card
          class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
        >
          <ion-card-header>
            <ion-card-subtitle>{{ profile?.nick_name }}</ion-card-subtitle>
            <ion-card-title
              >{{ profile?.first_name }} {{profile?.last_name}}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            joined on {{ supabaseService.user?.created_at | date : 'dd-MM-yyyy'
            }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" *ngIf="profile">
        <ion-card
          class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
        >
          <ion-card-header>
            <ion-card-subtitle
              >Matches played
              <span class="float-right">🎯</span></ion-card-subtitle
            >
            <ion-card-title
              >{{ profile!.wins + profile!.losses }}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <!-- <span class="text-danger">-</span>from last week -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="this.statistics">
        <ion-card
          class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
        >
          <ion-card-header>
            <ion-card-subtitle
              >Avergage <span class="float-right">⚡️</span></ion-card-subtitle
            >
            <ion-card-title
              >{{ (this.statistics![0].total_score /
              this.statistics![0].total_throws).toFixed(2)}}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <!-- <span class="text-success">+</span>18 from last week -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-card
          class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
        >
          <ion-card-header>
            <ion-card-subtitle
              >Favourite double
              <span class="float-right">🔥</span></ion-card-subtitle
            >
            <ion-card-title>20</ion-card-title>
          </ion-card-header>
          <ion-card-content> </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card
          class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
        >
          <ion-card-header> Bar Chart </ion-card-header>
          <ion-card-content class="flex justify-center relative">
            <canvas
              #barCanvas
              style="position: relative; height: 35vh; width: 100vw"
            ></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card
          class="ion-no-margin shadow border border-slate-200 dark:border-slate-600"
        >
          <ion-card-header>
            <ion-card-subtitle
              >Wins and Losses
              <span class="float-right">🏆 & 😞</span></ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="flex justify-center relative w-full">
            <canvas #winChart></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
