<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div
          class="bg-[var(--ion-color-light)] flex flex-col gap-y-2 p-6 rounded-lg shadow"
        >
          <div class="flex flex-row">
            <div class="capitalize text-heading-6">Average</div>
            <div class="basis-full inline-flex justify-end text-heading-6">
              ⚡️
            </div>
          </div>
          <div class="flex justify-start">
            <div class="text-heading-5 font-semibold">129</div>
          </div>
          <div class="pt-4">
            <span class="text-success text-body-lg">+</span>
            <span class="text-body-lg"> 18</span>
            <span class="text-body-lg"> last week</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
